@font-face {
    font-family: Orbitron;
    src: url(assets/Orbitron-VariableFont_wght.ttf) format('truetype')
}

@font-face {
    font-family: 'Blender Pro';
    src: url(assets/BLENDERPRO-BOLD.TTF) format('truetype')
}

* {
    margin: 0;
    padding: 0
}


body {
    background-image: url(assets/img/Rectangle\ 1\ copy\ 1.png);
    font-family: Orbitron;
    background-color: #07040F;
    align-items: center;
    background-position: center;
    background-size: cover;
    
}
.dis{
    display: inline;
}

.square{
    width: 8px;
    height: 8px;
    background-color: green;
    margin-top: 30px;
    margin-left: 90px;

}
.container, .square{

    color: green;
    font-family: Blender Pro;
    font-style: bold;
    display: inline-block;    

}

h1{
    color: white;
    font-weight:100 ;
    font-family: orbitron;
    margin-left: 100px;
    font-variant: small-caps;

}


.vect-1{
background-image: url(assets/img/Vector\ 47\ \(2\).png);
width: 1000px;
height: 500px;
background-repeat: no-repeat;
margin: 0px 40px 60px 100px;
padding: 15px;
display: flex;
flex-direction: column;


}


.loading{
    margin: 0px 0px 0px 250px;
    width: 50%;
    height: 6px;
    background:green;
    box-shadow: 0 0 4px #FFEA31 ;
    align-items: center;
}

.load-ing{
    font-family: Orbitron;
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin: 20px 0px 0px 250px;
    display: inline-block;

}
.load-40{
    font-family: Orbitron;
    font-weight: 100;
    font-size: 40px;
    color: white;
    margin: 30px 0px -50px 150px;
    display: inline-block;

}

.load-4301{
    font-family: Orbitron;
    font-weight: 100;
    font-size: 15px;
    color: white;
    margin: 30px 0px -50px 200px;
    display: inline-block;

}
.analyze{
    display: inline-block;
    font-size: 15px;
    margin: 90px 0px 30px 350px;
    color: #537DD8;
    font-variant: small-caps;

}
.analyze-lin{
    margin: 90px 0px 0px 10px;
    width: 30%;
    height: 6px;
    background:#537DD8;
    display: inline-block;

}

.main-char{
width: 200px;
}
.ass-rif{
     width: 150px;
    height: 170px;
    margin-top: 30px;
}

.turchelon{
    width: 150px;
    height: 170px;
    margin-top: 30px;
}

.image{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
button{
    margin-top: 17px;
    background-color: green;
    color: white;
    padding: 10px;
    align-self: center;
}
h2{
    font-size: 17px;
    text-align: center;
    color: white;
    font-weight: 100;
    margin-top: 15px;
}



